
.logo {
    border: 1em;
}
  .animateMe {
    background-image: url('./assets/images/star-background.jpg');
    font-weight: 500;
    font-size: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Khula", sans-serif;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
  }

  .name {
    font-weight: 800;
    font-size: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Khula", sans-serif;
    /* height: 100vh; */
    box-sizing: border-box;
    margin: 0;
  }